
.backdrop{
  display: flex;
}

.test{
  height: 100vh;
  width: 50%;
  overflow: hidden;
  font-size: 1.5rem;
  width: 50%; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}


.welcomeTag{
  color: rgb(255, 255, 255);
  position: absolute;
  width: 45%;
  
}
.test img{
  height: 100vh;
}

.signupContainer{
    background-color: rgb(242, 242, 242);
    display: flex;
    height: 100vh;
  }

  .test2{
    background-color: rgb(188, 188, 188);
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;

  }

.formCenter{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 450px;
    /* height: 450px; */
}

.imageSvg{
  width: 50%;
  height: 100vh;
  
}

.formCenter label{
    display: block;
}



.formControl {
    margin: 1rem;
  }
  
  
  
  .formControl label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .otpForm input,
  .formControl input,
  .formControl select {
    text-align: center;
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 20rem;
  }
  

  .formControl input:focus {
    outline: none;
    border-color: #121222;
    background-color: #e0d4fd;
  }

.otpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

}
  
.submitButton {
    font: inherit;
    background-color: #121222;
    color: white;
    border: 1px solid #121222;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 200px;
  }
  
  .submitButton:hover,
  .submitButton:active {
    background-color: #2a2a7e;
    border-color: #1a0251;
  }
  
  .submitButton:disabled,
  .submitButton:disabled:hover,
  .submitButton:disabled:active{
    background-color: #ccc;
    color:#292929;
    cursor: not-allowed;
    border: #ffffff;
  }
  


  .errorText input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  
  .errorText input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }

  .errorText p{
    color: #e71e1e;
    margin: 0;
    
  }

  @media (max-width:800px) and (min-width:650px){
    .test{
      font-size: 1rem;
    }
  }

  @media (max-width:650px){
    .signupContainer{
      flex-direction: column;
    }
    .test{
      width: 100%;
      height: 40vh;
      font-size: 1rem;

    }
    .test2{
      width: 100%;
    }

  }

  