.backdrop {
    display: flex;
    
}

.test {
    height: 100vh;
    width: 50%;
    overflow: hidden;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcomeTag {
    color: rgb(255, 255, 255);
    position: absolute;
    width: 45%;

}

.test img {
    height: 100vh;
}

.signupContainer {
    background-color: rgb(242, 242, 242);
    display: flex;
    height: 100vh;
}

.test2 {
    background-color: #e2f5ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(144,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(227,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='13.86'%3E%3Cpath transform='translate(-31.5 -1.2000000000000002) rotate(-3 1409 581) scale(0.96646)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.620000000000001' transform='translate(-49.5 27) rotate(0.6000000000000001 800 450) scale(0.998958)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0.3000000000000007 -13.5) rotate(-1.5 401 736) scale(0.998958)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.2'%3E%3Cpath transform='translate(162 4.2) rotate(-1.05 150 345) scale(1.0028199999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='9.240000000000002' transform='translate(-25.5 -75) rotate(-10.799999999999997 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-78 18) rotate(-1.7999999999999998 1400 132) scale(0.925)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.formCenter {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 4px -1px rgb(0 0 0 / 20%), 0px 4px 4px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 450px;
    /* height: 450px; */
}

.imageSvg {
    width: 50%;
    height: 100vh;

}

.formCenter label {
    display: block;
}



.formControl {
    margin: 1rem 2rem;
}


.formControl div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
}



.formControl label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.otpForm input,
.formControl input,
.formControl select {
    text-align: center;
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px -1px rgb(0 0 0 / 20%), 0px 2px 4px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    width: 100%;
}



.formControl input:focus {
    outline: none;
    border-color: #121222;
    background-color: #e0d4fd;
}

.otpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}

.submitButton {
    font: inherit;
    background-color: #121222;
    color: white;
    border: 1px solid #121222;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 200px;
}

.submitButton:hover,
.submitButton:active {
    background-color: #2a2a7e;
    border-color: #1a0251;
}

.submitButton:disabled,
.submitButton:disabled:hover,
.submitButton:disabled:active {
    background-color: #ccc;
    color: #292929;
    cursor: not-allowed;
    border: #ffffff;
}

.underLinks button{
    background-color: transparent;
    border: none;
    color: #101074;
    cursor: pointer;
    margin-bottom: 1rem ;
    margin-top: 0.25rem;
}

.underLinks button:hover{
    color: rgb(7, 160, 255);
}

.ruler{
    width: 90%;
    max-width: 250px;
    height: 1px;
    margin: 0px auto;
    background-color: black;
}



.errorText input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.errorText input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText p {
    color: #e71e1e;
    margin: 0;
}

@media (max-width:800px) and (min-width:650px) {
    .test {
        font-size: 1rem;
    }
}

@media (max-width:650px) {
    .signupContainer {
        flex-direction: column;
    }

    .test {
        width: 100%;
        height: 40vh;
        font-size: 1rem;

    }

    .test2 {
        width: 100%;
    }

}