.buttonCon{
    width: 100%;
    max-width: 580px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonCon button{
    flex: 1 1 0;
    background-color: transparent;
    border: none;
}

.buttonCon button:hover{
    background-color: rgb(243, 243, 243);
    border-bottom: 2px solid #8884d8 ;
    animation: zoom2 200ms linear forwards;
}

@keyframes zoom2 {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}
}
